@import "../styles/bootstrap-init";

.container {
  background: black url("/misa-1.webp") no-repeat fixed center top;
  background-size: cover;
  height: 100vh;
  position: relative;
}

@include media-breakpoint-down(xl) {
  .container {
    background-position: 70% top;
  }
}

.textintro {
  position: relative;
  z-index: 2
}

@include media-breakpoint-down(xl) {
  .textintro {
    zoom: 0.85
  }
}
