@import "../styles/bootstrap-init";

.container {
  background: black url("/misa-1.webp") no-repeat fixed center top;
  background-size: cover;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

@include media-breakpoint-down(xl) {
  .container {
    background-position: 70% top;
  }
}

.textintro {
  position: relative;
  z-index: 2
}

@include media-breakpoint-down(xl) {
  .textintro {
    zoom: 0.85
  }
}
