$dior: #c4342a;

// bootstrap
$primary: $dior;
$btn-border-radius-lg: 2rem;
$btn-font-size-lg: 1re,;
$card-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
$card-border-width: 0;
$enable-shadows: true;

$h4-font-size: 1rem * 1.25;
$h5-font-size: 1rem * 1.1;
